.banner {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
  border-bottom: 4px solid var(--dark);
  height: 100px;
  padding: var(--spacing-xs);
  align-items: flex-start;
}

.team {
  display: flex;
  flex: 1;
  height: 100%;

  .details {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    .teamLocation {
      margin: 0;
    }
    .teamName {
      margin: 0;
      font-size: 2.8rem;
      font-family: CoinDingDong;
    }
  }

  &.flip {
    flex-direction: row-reverse;

    .details {
      text-align: right;
    }
  }
}

.scoreboard {
  background-color: var(--dark);
  color: var(--off-white);
  font-size: var(--font-size-lg);
  padding: var(--spacing-md);
  text-align: center;

  display: grid;
  row-gap: var(--spacing-sm);
  column-gap: var(--spacing-md);
  align-content: bottom;
  grid-template:
    'home time time visiting' auto
    'spot down togo quarter' auto;

  .homeScore {
    grid-area: home;
  }
  .time {
    grid-area: time;
  }
  .visitingScore {
    grid-area: visiting;
  }
  .spot {
    grid-area: spot;
  }
  .down {
    grid-area: down;
  }
  .togo {
    grid-area: togo;
  }
  .quarter {
    grid-area: quarter;
  }

  .label {
    display: block;
    padding: 0;
    font-family: Alpharush, Billy-Regular;
    margin-bottom: var(--spacing-xs);
  }

  .valueContainer {
    background-color: var(--off-white);
    color: var(--dark);
    font-family: 'DigitalNumbers-Regular';
    font-size: var(--font-size-lg);
    padding: var(--spacing-xs);
    text-align: right;

    &.big {
      padding: var(--spacing-xs);
      font-size: 2.5rem;
    }

    .value {
      position: relative;
      z-index: 10;
      &:before {
        position: absolute;
        content: '0';
        opacity: 0.15;
        z-index: 1;
      }
    }
  }
}
